.collection-preview {
  margin-bottom: 8rem;
  .title {
    margin-bottom: 1rem;

    color: #161616;
  }

  .preview {
    //   display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
  }
}

$breakpoint-phones: 400px;
@media (min-width: $breakpoint-phones) {
  .collection-preview {
    .preview {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

$breakpoint-laptop: 1000px;
@media (min-width: $breakpoint-laptop) {
  .collection-preview {
    .title {
      font-size: 2.5rem;
    }
    .preview {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
}
