.collection-item {
  cursor: pointer;

  .image {
    // background: #000;
    height: 500px;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
  }
  .collection-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;

    .name {
      font-weight: 500;
    }

    .price {
      font-weight: 500;
    }
  }
}
