.directory-menu {
  //   width: 100%;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

  grid-gap: 2rem;
  // padding: 2rem;

  margin-top: -6rem;
  position: relative;
  z-index: 2;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .directory-menu {
    grid-template-columns: repeat(6, 1fr);
    margin-top: -10rem;
  }
}

$breakpoint-laptop: 1024px;
@media (min-width: $breakpoint-laptop) {
  .directory-menu {
    grid-template-columns: repeat(6, 1fr);
    margin-top: -10rem;
  }
}

$breakpoint-laptop: 1200px;
@media (min-width: $breakpoint-laptop) {
  .directory-menu {
    grid-template-columns: repeat(6, 1fr);
    margin-top: -12rem;
  }
}
