// .checkpout-page {
//   .container {
//     // background: #fff;
//     table {
//       width: 100%;

//       th {
//         text-align: left;
//       }
//     }

//     .image {
//       max-width: 100%;
//       width: 200px;
//     }
//   }
// }

.checkout-page {
  // width: 55%;
  // min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    // font-size: 36px;
  }
}
