.login {
}

.login-copy {
  margin-bottom: 3rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  span {
    color: rgb(121, 121, 121);
  }
}

p {
  margin-top: 2rem;
}

.register-link {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}
