.cart-item {
  width: 100%;
  display: flex;
  margin-bottom: 2rem;

  img {
    width: 40%;
    margin-right: 1rem;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-weight: 600;
      line-height: 20px;
    }

    .price {
      margin: 0;
    }
  }
}
